
*{
    padding: 0;
    margin: 0;
    font-family: "Stack Sans Headline", sans-serif;
}
body{
    background-color: rgb(200, 218, 240);
}
nav{
    text-align: center;
    font-family: "Stack Sans Headline", sans-serif;
}
li{
    list-style-type: none;
    display: inline-block;
    margin: 20px;
    font-size: large;
}
li:hover{
    transform: scale(1.1);
    text-decoration: underline;
    text-decoration-color: rgb(0,102,225);
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}
hr{
    background-color: rgb(0,102,225);
    height: 3px;
    border: none;
}   

/* main */
section{
    margin-top: 300px;
}
#it{
    font-size: 50px;
    font-family: "Stack Sans Headline", sans-serif;
    display: inline-block;
}
h{
    color: rgb(0,102,225);
}
.home{
    margin-top: 130px;
    margin-left: 200px;
    margin-bottom: 30px;
}

#self{
    height: 400px;
    width: auto;
    border-radius: 50%;
    margin-left: 300px;
}
.about_me{
    display: flex;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
}
#photo2{
    height: 300px;
    width: auto;
    margin-right: 300px;
    border-radius: 5px;
}
.education{
    display: flex;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
}
#photo3{
    height: 300px;
    width: auto;
    border-radius: 5px;
    margin-left:300px
}
.skills{
    display: flex;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
}
#photo4{
    height: 300px;
    width: auto;
    border-radius: 5px;
    margin-left: 20px;
    margin-right:550px
}

h1{
    margin: 20px;
}
a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.Contact{
    margin: 20px;
    padding: 20px;
    text-align: center;
}
.Contact li{
    text-decoration: none;
    color: rgb(3, 62, 134);
    background-color: rgb(125, 170, 224);
    height: 25px;
    width: 70px;
    border-radius: 5px;
}
footer{
    text-align: center;
    margin: 20px;
}